html {

}
.wrapper {
    display: block;
    width: 400px;

    margin: 0 auto;
}
.winner {
    width: 100%;
    border: 1px solid black;

    padding: 10px;
    margin-bottom: 10px;

    &__is {
        display: inline-block;
        width: 240px;
        text-align: center;

    }
    &__btn {
        border: 1px solid black;
        border-radius: 3px;
        padding: 3px;

        cursor: pointer;
        
        &:hover {
            border-color: #565656;
            box-shadow: 0 0 2px grey;
        }
        &:active {
            background: #c4c4c4;
        }
    }
}
.registration {
    width: 100%;
    border: 1px solid black;

    padding: 10px;
    margin-bottom: 10px;

    &__row {
        display: block;
        text-align: justify;
        span {
            display: inline-block;
            width: 100px;
        }

    }

    &__btn {
        display: inline-block;
        padding: 5px;
        border: 1px solid black;
        border-radius: 3px;
        background: #ffffff;
        margin-top: 10px;
        cursor: pointer;
    }
}
.users {
    width: calc(100% + 20px);
    border: 1px solid black;

    margin-bottom: 10px;

    table {
        width: 100%;
        padding: 0;
        margin: 0;

        thead tr {
            border-bottom: 1px solid black;
        }
        td {
            border-right: 1px solid black;

            &:last-child {
                border: none;
            }
        }

        td {
            width: calc(25% - 10px);
            padding: 5px;
        }
    }
}